/* @import url(); */
:root {
  --header-height: 60px;
  --subtitle-color: #34b0be;
  --primary-color: #00bcd4;
  --icons-color: #b1b9bf;
  --body-color: hsl(249, 19%, 14%);
  --paragraph-color: #b1b9bf;

  --body-font: "Rubik", sans-serif;
  --skill-font-size: 80px;
  --subtitle-font-size: 32px;
  --subsection-font-size: 18px;
  --body-font-size: 17px;

  --font-regular: 400;
  --font-semibold: 600;

  --z-modal: 10;
  --z-fixed: 100;

  --padding-container: 80px 0;
}
/* base */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--body-font);
  background-color: var(--body-color);
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* REUSABLE CSS CLASES */

.section {
  padding: 32px 0;
}

.section-title {
  margin: 10px 24px;

  color: brown;
}
.container {
  width: 90%;
  max-width: 1024px;
  margin: auto;
}
.grid--container {
  max-width: 1024px;
  display: grid;
  margin: 0 24px;
}
.about__container {
  row-gap: 2rem;
}

/* Header and navBar */
.hero__nav-container {
  position: fixed;
  width: 100%;
}
.hero__nav {
  top: 0;
  right: 0;
  z-index: var(--z-fixed);
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  font-size: 1.5rem;
  padding: 2rem 0 0.5rem;
}
.hero__main {
  margin-top: 30px;
}
.img__codewars{
  color: #b1b9bf;
}
@media (max-width: 768px) {
  .hero__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    padding: 2rem 1rem 1rem;
    background-color: hsl(246, 16%, 12%);
    transition: 0.5s;
    z-index: var(--z-fixed);
    border-bottom: 2px solid #00bcd4;
    border-radius: 0 0 22px 22px;
  }
  .hero__main-img-web {
    display: none;
  }
}
.show--menu {
  top: 0;
}
.btn-open {
  position: fixed;
  z-index: 99;
  background-color: rgb(42, 43, 61);
  border-radius: 23px;
  padding: 10px;
}
.bx-menu {
  display: block;
}

.nav__cta {
  color: var(--icons-color);
}
.nav__cta:hover {
  color: var(--primary-color);
  border-bottom: 1.5px solid #00bcd4;
}
.active {
  color: var(--primary-color);
  border-bottom: 1.5px solid #00bcd4;

}
.hero__img {
  width: 100%;
  height: auto;
}
.hero__vector {
  width: 80px;
  height: auto;
}

.hero__main-figure {
  width: 100%;
  position: relative;
  margin: 0 auto;
}
.bx {
  color: white;
  font-size: 24px;
}
.hero__main-img {
  display: block;
  margin: 0 auto;
  width: 200px;
}
.hero__item {
  margin-bottom: 16px;
  font-weight: var(--font-semibold);
}
.btn__close {
  position: absolute;
  right: 16px;
  top: 16px;
  background-color: rgb(42, 43, 61);
  border-radius: 23px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
}

.hero__main-vector {
  position: absolute;
  top: 50%; /* position the top  edge of the element at the middle of the parent */
  left: 50%;
  height: auto;
  z-index: -1;
  width: 200px;
  transform: translate(-50%, -50%);
}
.hero__main-vector img {
  vertical-align: bottom;
}

.hero__main-texts {
  margin-top: 35px;
  text-align: center;
}
.hero__subtitle {
  color: var(--subtitle-color);
  font-size: var(--subsection-font-size);
  padding-bottom: 5px;
}
.hero__title {
  font-size: var(--subtitle-font-size);
  color: white;
}
.hero__social {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 25px;
}
.hero__main-icons {
  border: 2px solid var(--icons-color);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  transition: transform 500ms ease,color 500ms ease;
  color: var(--paragraph-color);
}
.hero__main-icons i {
  font-size: 14px;
  margin-top: 4px;
  color: var(--paragraph-color);

}
.hero__main-icons:hover{
  transform: scale(1.1);
}

.hero__main-cta {
  position: relative;
  gap: 25px;
  color: #fff;
  background: var(--subtitle-color);
  font-size: 13px;
  height: 50%;
  padding: 10px 30px;
  border-radius: 0 30px 30px 0;
  transition: color 1s ease, background 1s ease;

}

.hero__main-cta i {
  color: #fff;
  font-size: 18px;
  vertical-align: middle;
  padding-right: 15px;
  transition: color 1s ease, background 1s ease;
}
.hero__main-cta:hover{
  color: var(--subtitle-color);
  background: #fff;

}
.hero__main-cta:hover i{
  color: var(--subtitle-color);
}


.section__skill {
  margin-top: 50px;
  background-color: rgb(42, 43, 61);
  border-radius: 22px;
}
.subtitle {
  font-size: var(--subtitle-font-size);
  color: var(--subtitle-color);
  text-transform: uppercase;
  padding: 30px 0 20px 10px;
}

.section__rates-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
}
.section__rates {
  width: 150px;
  position: relative;
}
.section__text-skill {
  color: var(--icons-color);
  font-weight: var(--font-semibold);
  font-size: var(--skill-font-size);
  padding: 26px 0;
  background-color: var(--body-color);
  box-shadow: 0 2px 9px 2px #00000024;
}
.section__text-skill-icon {
  font-size: var(--skill-font-size);
  color: var(--paragraph-color);
  transition: transform 500ms ease, color 500ms ease,text-shadow 500ms ease;
}
.section__text-skill:hover .section__text-skill-icon {
  transform: rotate(9deg);
  color: white;
  text-shadow: 0 0 5px #fff;

}
.section__text {
  color: #c7c9cf;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 1.3rem;
}
.section__bar {
  width: 95%;
  height: 5px;
  background-color: black;
}

.section__about {
  margin-top: 40px;
}
.section__paragraph {
  line-height: 1.5;
  font-size: var(--body-font-size);
  color: var(--paragraph-color);
  padding: 0 0 15px 0;
  transition: color 300ms ease, text-shadow 300ms ease;

}
.section__paragraph:hover {
  color: #fff;
  text-shadow: 0 0 10px #fff;
}
.section__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: var(--paragraph-color);
}
.section__item {
  margin-bottom: 50px;
}
.section__about {
  position: relative;
}
.section__about-subtitle {
  padding: 5px 0;
}
.section__about-paragraph {
  font-size: 14px;
}
.section__about-decor {
  position: absolute;
  width: 200px;
  top: 0;
  right: 0;
}
.section__about-figure {
  display: flex;
  align-items: center;
  height: 208px;
  width: 163px;
  margin: 0 auto;
  filter: grayscale(100%);
  transition: transform 0.3s ease,filter 0.5s ease;
}
.section__about-figure:hover {
  transform: scale(1.1);
  filter: grayscale(0);

}
.section__skill-figure {
  margin-bottom: 45px;
  background-color: var(--body-color);
  height: 200px;
  display: flex;
  border-radius: 22px;
  justify-content: center;
  transition: transform 0.3s ease;
}
.section__skill-figure:hover {
  transform: scale(1.1);
  filter: grayscale(0);

}
.section__skill-img {
  width: 100px;
  height: auto;
  filter: grayscale(100%);
transition: filter 0.5s ease;

}
.section__skill-figure:hover .section__skill-img{
  filter: grayscale(0);

}
.section__skill-subtitle {
  color: white;
  font-weight: var(--font-semibold);
}
.section__skill-paragraph {
  width: 200px;
  padding-top: 10px;
}
.section__portafolio{
  margin-bottom: 50px;
}
.section__portafolio-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}
.section__portafolio-figure {
  position: relative;
  max-width: 325px;
  height: 282px;
  overflow: hidden;
  color: white;
}

.section__portafolio-img {
  border-radius: 10px 10px 0 0;
}
.section__portafolio-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 30px;
  width: 100%;
  height: 282px;
  padding: 6px;
  position: absolute;
  background-color: rgb(27, 27, 27, 0.7);
  bottom: -100%;
  transition: bottom 500ms ease;
}
.section__portafolio-title {
  font-size: 2rem;
}
.section__portafolio-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.section__portafolio-icon {
  display: flex;
  justify-content: space-evenly;
}
.section__portafolio-tecnology {
  font-size: 2.5rem;
  transition: transform 500ms ease;
}
.section__portafolio-tecnology:hover {
  transform: rotate(9deg);
  transition: transform 500ms ease;
}
.hero__portafolio {
  display: flex;
  width: 145px;
  gap: 5px;
  position: relative;
  color: #fff;
  background: var(--body-color);
  font-size: 13px;
  padding: 8px 15px;
  border-radius: 0 30px 30px 0;
  transition: box-shadow 0.5s ease, transform 0.5s ease;
}
.hero__portafolio i {
  color: #fff;
  font-size: 18px;
  vertical-align: middle;
}
.hero__portafolio--reverse {
  border-radius: 30px 0 0 30px;
  justify-content: flex-end;
}
.hero__portafolio:hover {
  box-shadow: 5px 5px 20px #000c;
  transform: translateY(-3%);
  transition: box-shadow 0.5s ease, transform 0.5s ease;
}
.section__portafolio-item:hover .section__portafolio-info {
  bottom: 0;
  transition: bottom 500ms ease;
}
.section__portafolio-item:hover .section__portafolio-img {
  filter: blur(4px);
  transition: filter 500ms ease;
}
.section__portafolio-subtitle {
  margin-top: 25px;
  text-align: center;
  color: #bbe6ff;
  font-weight: var(--font-semibold);
}
.section__portafolio-item {
  padding-bottom: 45px;
  background-color: rgb(42, 43, 61);
  box-shadow: 0 0 15px 2px #00000090;
  border-radius: 10px;
}
.section__contact {
  background-color: rgb(42, 43, 61);
  border-radius: 22px;
  padding-bottom: 40px;
}
.section__contact-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  gap: 50px;
}
.section__contact-item {
  width: 100%;
  max-width: 250px;
  height: 150px;
  background-color: var(--body-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid cadetblue;

  transition: border-bottom 500ms ease;

}
.section__contact-icon{
  color: var(--paragraph-color);
  display: block;
  font-size: 3.5rem;
  transition: color 500ms ease,transform 500ms ease,text-shadow 500ms ease;
}
.section__contact-link{
  color: var(--paragraph-color);
  transition: color 500ms ease;
}
.section__contact-item:hover .section__contact-link{
  color: white;
}
.section__contact-item:hover .section__contact-icon{
  color: white;
  text-shadow: 0 0 5px #fff;
  transform: scale(1.2);
  
}
.section__contact-item:hover {
  border-bottom: 7px solid cadetblue;
  transition: border-bottom 500ms ease;
  
}
.section__contact-paragraph {
  font-size: 14px;
  padding-top: 10px;
  color: var(--paragraph-color);
}

.footer {
  margin-top: 25px;
  height: 150px;
  display: flex;
  text-align: center;
  align-items: flex-end;
}
.footer__text {
  color: var(--primary-color);
  font-size: 20px;
  width: 100%;
  margin: 20px 0;
}

@media (min-width: 768px) {
    .hero__main-vector{
     display:none;
    }
  .section__rates-container{
    justify-content: center;
    gap: 45px;
    padding: 30px 0;
  }
  .hero__menu {
    align-items: flex-end;
    position: fixed;
    z-index: var(--z-fixed);
    background-color: hsl(246, 16%, 12%);
    border-radius: 23px;
  }
  .btn__close {
    display: none;
  }
  .hero__vector {
    width: 150px;
    height: auto;
  }

  .btn-open {
    display: none;
  }
  .hero__list {
    height: 40px;
    flex-direction: row;
    justify-content: flex-end;
    font-weight: var(--font-regular);
    align-items: center;
    text-align: center;
    gap: 30px;
    font-size: 14px;
    padding: 0 15px;
  }
  .hero__item {
    margin: 0;
  }
  .hero__main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
  .hero__main-texts {
    margin-top: 0;
    text-align: start;
  }
  .hero__main-figure {
    display: flex;
    justify-content: center;
    width: 430px;
    border-radius: 10px;
    overflow: hidden;
    border: 5px solid cadetblue;
    filter: grayscale(100%);
    transition: filter 2s ease,transform 500ms ease;
  }
  .hero__main-figure:hover{
    filter: grayscale(0);
    transform:scale(0.9);

  }
  .hero__main-img {
    display: none;
  }
  .hero__main-img-web {
    width: 100%;
    height: auto;
    vertical-align: bottom;
  }
  .hero__main-vector {
    width: 273px;
  }

  .hero__subtitle {
    font-size: 42px;
  }
  .hero__title {
    font-size: 60px;
  }
  .hero__social {
    margin-top: 50px;
    margin-bottom: 70px;
    justify-content: flex-start;
  }
  .hero__main-icons {
    border: 2px solid var(--icons-color);
    border-radius: 50%;
    width: 45px;
    height: 45px;
    text-align: center;
  }
  .hero__main-icons i {
    font-size: 30px;
  }
  
  .hero__main-cta {
    font-size: 22px;
    padding: 20px 50px;
  }
  .hero__main-cta i {
    font-size: 32px;
  }
  .hero {
    margin-bottom: 100px;
  }
  .section__paragraph {
    font-size: 25px;
  }
  .section__about-decor {
    width: 300px;
  }
  .section__items {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.hero__main-icons--p{
  padding: 3px;
}