---
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import Skill from "../components/Skill.astro";
import SectionContainer from "../components/SectionContainer.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <Hero />
    <SectionContainer id="about">
      <h2 class="subtitle">acerca de mí</h2>
      <About />
    </SectionContainer>
    <SectionContainer id="about" isAlter>
      <h2 class="subtitle">habilidades</h2>
      <Skill />
    </SectionContainer>
  </main>
</Layout>

<style>
  .container {
    padding-top: 40px;
    width: 90%;
    max-width: 1380px;
    margin: auto;
  }
  .subtitle {
    font-size: var(--subtitle-font-size);
    color: var(--primary-color);
    text-transform: uppercase;
    padding: 30px 0 20px 10px;
    text-align: center;
  }
</style>
