:root {
  /* Colors */
  --primary-color: #01be96;
  --secondary-color: #2a2b3d;
  --surface-color: #01be9570;
  --icons-color: #b1b9bf;
  --background-color: #191923;
  --background-color-secondary: #2a2b3de1;

  --text-color: #fff;
  --text-color-secondary: #b1b9bf;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-md: 1.125rem;
  --text-lg: 1.25rem;
  --text-xl: 1.625rem;
  --text-2xl: 2.125rem;
  --text-3xl: 2.625rem;
  --text-4xl: 3.5rem;
  --text-5xl: 4rem;
  --text-6xl: 5rem;

  --body-font: "Rubik", sans-serif;
  --skill-font-size: 80px;
  --padding-vertical: 1rem 0 3rem 0;
  --z-modal: 10;
  --z-fixed: 100;

  --padding-container: 80px 0;
}

.bx {
  color: white;
  font-size: var(--text-md);
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--body-font);
  background-color: var(--background-color);
  background-image: url("/vectores/circuit-background.svg");
  background-size: 224px;
  background-repeat: repeat;

  animation: moveBackground 60s linear infinite;
}

@keyframes moveBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -500px 500px;
  }
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

  .img-float {
    animation: animation 3s infinite;
    -webkit-animation: animation 3s infinite;
    -webkit-filter: drop-shadow(0 10px 10px var(--surface-color));
    filter: drop-shadow(0 10px 10px var(--surface-color));
    transition: -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
    transition:
      transform 0.4s ease-in-out,
      -webkit-transform 0.4s ease-in-out;
    width: 100%;
  }
  @keyframes animation {
    0% {
      transform: translateY(0px);
      -webkit-transform: translateY(0px);
      -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
      -o-transform: translateY(0px);
    }

    50% {
      transform: translateY(-10px);
      -webkit-transform: translateY(-10px);
      -moz-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      -o-transform: translateY(-10px);
    }

    100% {
      transform: translateY(0px);
      -webkit-transform: translateY(0px);
      -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
      -o-transform: translateY(0px);
    }
  }