---
import type { Tecnology } from "../interfaces/types";

const { icon, name, Icon } = Astro.props as Tecnology;
---

<div class="skillItem__rates">
  <div class="skillItem__bar"></div>
  <p class="skillItem__text-skill">
    {
      Icon ? (
        <Icon class="skillItem__img-icon bx" color="var(--text-color)" />
      ) : (
        <i class={`skillItem__text-skill-icon bx ${icon}`} />
      )
    }
    <h3 class="skillItem__text">{name}</h3>
  </p>

  <style>
    .skillItem__rates {
      width: 150px;
      position: relative;
    }
    .skillItem__rates:hover .skillItem__text-skill-icon {
      transform: rotate(9deg);
      color: var(--text-color);
      text-shadow: 0 0 5px var(--text-color);
    }
    .skillItem__rates:hover .icon-letter {
      transform: rotate(9deg);
      color: var(--text-color);
      text-shadow: 0 0 5px var(--text-color);
    }
    .skillItem__rates:hover .skillItem__text {
      transform: rotate(-3deg);
      color: var(--primary-color);
    }
    .skillItem__bar {
      width: 0%;
      height: 5px;
      background-color: var(--text-color)
      transition: width 0.4s ease-in-out;
    }
    .skillItem__rates:hover .skillItem__bar {
      width: 100%;
      background-color: var(--primary-color);
      transition: width 0.4s ease-in-out;
    }
    .skillItem__text-skill {
      width: 10rem;
      height: 10rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--background-color);
      box-shadow: 0 2px 9px 2px #00000024;
    }
    .skillItem__text-skill-icon {
      font-size: var(--skill-font-size);
      color: var(--text-color);
      transition:
        transform 500ms ease,
        color 500ms ease,
        text-shadow 500ms ease;
    }
    .skillItem__text {
      color: var(--text-color);
      margin-top: 15px;
      margin-bottom: 15px;
      font-size: 1.3rem;
    }
    .skillItem__img-icon {
      width: var(--text-6xl);
      transition:
        transform 500ms ease,
        filter 500ms ease;
    }
    .skillItem__rates:hover .skillItem__img-icon {
      transform: rotateZ(9deg);
      filter: drop-shadow(0 0 5px var(--text-color));
    }
  </style>
</div>
