---
import type { Tecnology } from "../interfaces/types";
import { SkillItem } from "./";

interface Props {
  subtitle: string;
  skills: Tecnology[];
}
const { subtitle, skills } = Astro.props;
---

<>
  <h3 class="sub-subtitle">{subtitle}</h3>
  <div class="section__rates-container">
    {skills.map((skill) => <SkillItem {...skill} />)}
  </div>
</>

<style>
  .sub-subtitle {
    color: var(--text-color);
    font-weight: 600;
    font-size: var(--text-md);
    margin-left: 3rem;
  }
  .section__rates-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    padding: var(--pading-vertical);
  }
  @media (min-width: 768px) {
    .section__rates-container {
      justify-content: center;
      gap: 45px;
    }
  }
</style>
